.container {
    background-color: #b3e7ef;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.main {
    width: 410px;
    height: 410px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.wave {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 26px solid rgb(179, 231, 239);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
    6px 6px 18px 0 #111b3933,
    6px 6px 18px 0 #111b3933 inset,
    -6px -6px 18px #b3e7ef inset,
    -6px -6px 18px #b3e7ef inset,
    6px 6px 13px rgb(179, 231, 239) inset;
    filter: blur(13px);
    animation: ripple 3s ease-in forwards;
}

.wave2 {
    width: 145%;
    height: 145%;
}

.wave3 {
    width: 200%;
    height: 200%;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(0.3);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }    
}